<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Neefun</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Neefun School", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("游泳队", "Index", "Swim")</li>
                    <li>@Html.ActionLink("Mercer Island", "mi", "Swim")</li>
                    <li>@Html.ActionLink("Issaquah", "Is", "Swim")</li>
                    <li>@Html.ActionLink("Somerset", "Somerset", "Swim")</li>
                    <li>@Html.ActionLink("夏令营", "Index", "SummerCamp")</li>
                    <li>@Html.ActionLink("无人机摄影", "Index", "Drone")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <div>
                <h3>申请办法(Application)</h3>

                <p>请下载下面的表格， 打印填写. (please download and fill the forms below. )</p>
                <ul>
                    <li><a href="http://neefun.blob.core.windows.net/forms/SwimRegistration.pdf">Registration form</a></li>
                    <li><a href="http://neefun.blob.core.windows.net/forms/SwimConcussionInfoSheet.pdf">Concussion Information Sheet</a></li>
                    <li><a href="http://neefun.blob.core.windows.net/forms/NeefunPhotoRelease.pdf">Neefun Photo Release</a></li>
                </ul>
                <p>
                    You may either email the copy of the signed forms to <a href="mailto:neefun@hotmail.com">neefun@hotmail.com</a> or bring the forms to the swimming class. You may bring cash or check to the swimming class or contact us for other ways of the payment. Please make check payable to Neefun.
                </p>
            </div>
            <div>
                <h3>
                    联系方式 (Contact)：
                </h3>
                <ul>
                    <li>
                        <strong>Email:</strong> <a href="mailto:neefun@hotmail.com">neefun@hotmail.com</a>
                    </li>
                    <li>
                        <strong>Johnny: </strong>425-208-1837
                    </li>
                    <li>
                        <strong>Joey </strong>206-466-9580
                    </li>
                </ul>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
