@{
    ViewBag.Title = "Neefun School";
}
<h2>Neefun School</h2>
<h3>Welcome to Neefun School 欢迎来到Neefun学校</h3>
<p>
    Neefun希望以微薄的力量，积极的努力和对未来乐观的态度能够服务我们的社区，
    帮助身边的朋友，促进不同文化的交流，
    随着我们的孩子们一起成长。我们注重随时发生的小事， 从小事做起。
    目前我们的项目：
</p>
<p>
    Neefun Severs our community through helping children to learn different cultures, to start with small things around us.
    The neefun school provide year round activities such as swimming, math class and
    seasonal activities such as kayaking and summer camp during the summer and skiing in the winter. Our program includes:
</p>
<div>
    <h3>Whole Year Program $1,288 (@Html.ActionLink("Issaquah", "issaquah", "Swim"))<a href="#" id="whole-program-show" class="showLink"> see detail-></a></h3>
    <div id="whole-program" style="display:none">
        <ul>
            <li>
                <h4>Swimming at Julius Boehm Swimming Pool, 50 SE Clark St, Issaquah, WA 98027</h4>
                <p>September 1, 2015 - August 31, 2016</p>
                <p>
                    Two hour swimming every Saturday in Issaquah Julius Boehm Pool (46 weeks).
                    Swimming time is 5:00-7:00pm Saturday.
                    $10 swimming fee ($5/hr) is included, which covers swim instructor, pool usage, and other cost.
                </p>
                <p>
                    Two additional group swimming exercise during weekdays (one hour each time).
                    The pool fee for weekday exercise is not included in the Tuition. The pool fee is charged by swimming pool.
                </p>
                <p>
                    The coach will assign the weekday exercise for each student in wechat.
                    The student has to record the exercise and bring it to the coach every week.
                </p>
            </li>
            <li>
                <h4>Skiing</h4>
                Skiing at Snoqualmie West Summit January-March every two Sundays. Additional fee may apply.
            </li>
            <li>
                <h4>Golfing</h4>
                Golf lessons at New Castle Golf course. Additional fee may apply.
            </li>
            <li>
                <h4>Math</h4>
                Math tutoring available on Wednesdays depending on availability.
            </li>
            <li>
                <h4>Yoga class and tai chi class</h4>
                Yoga class and tai chi class are available for the parents of registered student while class in session.
            </li>
            <li>
                <h4>Group Camping</h4>
                Two group camping will be held for family and friends of registered students in the summer.
            </li>
        </ul>
        <p><a href="#" id="whole-program-hide" class="hideLink">Hide Whole Year Program.</a></p>
    </div>
</div>
<div>
    <h3>Thirty Weeks $1,080 (@Html.ActionLink("Issaquah", "issaquah", "Swim") or @Html.ActionLink("Mercer Island", "mi", "Swim"))<a href="#" id="30wk-program-show" class="showLink"> see detail-></a></h3>
    <div id="30wk-program" style="display:none">
        <ul>
            <li>
                <h4>Swimming</h4>
                <ul>
                    <li>
                        <h4>Option 1: Julius Boehm Swimming Pool, 50 SE Clark St, Issaquah, WA 98027</h4>
                        <p>
                            Two hour swimming every Saturday in Issaquah Julius Boehm Pool (30 weeks), total 60 hours of swimming time.
                            Swimming time is 5:00-7:00pm Saturday.
                            $10 swimming fee ($5/hr) is included, which covers swim instructor, pool usage, and other cost.
                        </p>
                        <p>
                            Two additional group swimming exercise during weekdays (one hour each time).
                            The pool fee for weekday exercise is not included in the Tuition.
                        </p>
                        <p>
                            The coach will assign the weekday exercise for each student in wechat.
                            The student has to record the exercise and bring it to the coach every week.
                        </p>
                    </li>
                    <li>
                        <h4>Option 2: Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</h4>
                        <p>
                            Total 60 hours swimming time at your own schedule to complete (recommend complete in 30 weeks).
                            Time: 6:30-7:30pm Monday and Thursday
                        </p>
                    </li>
                </ul>
            </li>

            <li>
                <h4>Skiing</h4>
                Skiing at Snoqualmie West Summit January-March every two Sundays. Additional fee may apply.
            </li>
            <li>
                <h4>Golfing</h4>
                Golf lessons at New Castle Golf course. Additional fee may apply.
            </li>
            <li>
                <h4>Math</h4>
                Math tutoring available on Wednesdays depending on availability.
            </li>
            <li>
                <h4>Yoga class and tai chi class</h4>
                Yoga class and tai chi class are available for the parents of registered student while class in session.
            </li>
            <li>
                <h4>Group Camping</h4>
                Two group camping will be held for family and friends of registered students in the summer.
            </li>
        </ul>
        <p><a href="#" id="30wk-program-hide" class="hideLink">Hide Thirty Week Program.</a></p>
    </div>
</div>
<div>
    <h3>Ten Week Program $400 (@Html.ActionLink("Issaquah", "issaquah", "Swim") or @Html.ActionLink("Mercer Island", "mi", "Swim"))<a href="#" id="10wk-program-show" class="showLink"> see detail-></a></h3>
    <div id="10wk-program" style="display: none">
        <ul>
            <h4>Swimming</h4>
            <ul>
                <li>
                    <h4>Option 1: Julius Boehm Swimming Pool, 50 SE Clark St, Issaquah, WA 98027</h4>
                    <p>
                        Two hour swimming every Saturday in Issaquah Julius Boehm Pool (10 weeks).
                        Swimming time is 5:00-7:00pm Saturday.
                        $10 swimming fee ($5/hr) is included, which covers swim instructor, pool usage, and other cost.
                    </p>
                    <p>
                        Two additional group swimming exercise during weekdays (one hour each time).
                        The pool fee for weekday exercise is not included in the Tuition.
                    </p>
                    <p>
                        The coach will assign the weekday exercise for each student in wechat.
                        The student has to record the exercise and bring it to the coach every week.
                    </p>
                </li>
                <li>
                    <h4>Option 2: Julius Boehm Swimming Pool, 50 SE Clark St, Issaquah, WA 98027</h4>
                    <p>
                        75 minutes pre-swim team practice every Saturday in Issaquah Julius Boehm Pool (10 weeks).
                        Swimming time is 5:00-6:15pm Saturday.
                        $10 swimming fee ($5/hr) is included, which covers swim instructor, pool usage, and other cost.
                    </p>
                    <p>
                        Two additional group swimming exercise during weekdays (one hour each time).
                        The pool fee for weekday exercise is not included in the Tuition.
                    </p>
                    <p>
                        The coach will assign the weekday exercise for each student in wechat.
                        The student has to record the exercise and bring it to the coach every week.
                    </p>
                </li>
                <li>
                    <h4>Option 3: Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</h4>
                    <p>
                        Total 20 hours swimming time at your own schedule to complete (recommend complete in 10 weeks).
                        Time: 6:30-7:30pm Monday and Thursday.
                    </p>
                </li>

            </ul>
            <li>
                <h4>Skiing</h4>
                Skiing at Snoqualmie West Summit January-March every two Sundays. Additional fee may apply.
            </li>
            <li>
                <h4>Golfing</h4>
                Golf lessons at New Castle Golf course. Additional fee may apply.
            </li>
            <li>
                <h4>Math</h4>
                Math tutoring available on Wednesdays depending on availability.
            </li>
            <li>
                <h4>Yoga class and tai chi class</h4>
                Yoga class and tai chi class are available for the parents of registered student while class in session.
            </li>
            <li>
                <h4>Group Camping</h4>
                Two group camping will be held for family and friends of registered students in the summer.
            </li>
        </ul>
        <p><a href="#" id="10wk-program-hide" class="hideLink">Hide Ten Week Program.</a></p>
    </div>
</div>
<div>
    <h3>
        Ten Lesson Small Group Program $350 (@Html.ActionLink("Mercer Island", "mi", "Swim"))<a href="#" id="10lesson-sgroup-program-show" class="showLink"> see detail-></a>
    </h3>
    <div id="10lesson-sgroup-program" style="display: none">
        <ul>
            <li>
                <h4>Swimming</h4>
                <ul>
                    <li>
                        <h4>Mercer Island Country Club, 8700 SE 71st St, Mercer Island, WA 98040</h4>
                        <p>
                            Total ten small group swimming lessons (60-minutes per lesson) at your own schedule to complete.
                            Time: 6:30-7:30pm Monday and Thursday.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Skiing</h4>
                Skiing at Snoqualmie West Summit January-March every two Sundays. Additional fee may apply.
            </li>
            <li>
                <h4>Golfing</h4>
                Golf lessons at New Castle Golf course. Additional fee may apply.
            </li>
            <li>
                <h4>Math</h4>
                Math tutoring available on Wednesdays depending on availability.
            </li>
            <li>
                <h4>Yoga class and tai chi class</h4>
                Yoga class and tai chi class are available for the parents of registered student while class in session.
            </li>
            <li>
                <h4>Group Camping</h4>
                Two group camping will be held for family and friends of registered students in the summer.
            </li>

        </ul>
        <p><a href="#" id="10lesson-sgroup-program-hide" class="hideLink">Hide Ten Lesson Small Group Program.</a></p>
    </div>
</div>
<div>
    <h3>
        Ten Week Small Group Program $300 (@Html.ActionLink("Issaquah", "issaquah", "Swim")) <a href="#" id="10wk-sgroup-program-show" class="showLink"> see detail-></a>
    </h3>
    <div id="10wk-sgroup-program" style="display: none">
        <ul>
            <li>
                <h4>Swimming</h4>
                <ul>
                    <li>
                        <h4>Julius Boehm Swimming Pool, 50 SE Clark St, Issaquah, WA 98027</h4>
                        <p>
                            Small group (not to exceed 6 students) swimming lessons (40 minutes per lesson) every Saturday in Issaquah Julius Boehm Pool (10 weeks).
                            Swimming time is 5:35-6:15pm or 6:20-7:00pm Saturday.
                            $4 swimming fee is included which covers swim instructor, pool usage, and other cost.
                        </p>
                        <p>
                            Two additional group swimming exercise during weekdays (one hour each time).
                            The pool fee for weekday exercise is not included in the Tuition.
                        </p>
                        <p>
                            The coach will assign the weekday exercise for each student in wechat.
                            The student has to record the exercise and bring it to the coach every week.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h4>Skiing</h4>
                Skiing at Snoqualmie West Summit January-March every two Sundays. Additional fee may apply.
            </li>
            <li>
                <h4>Golfing</h4>
                Golf lessons at New Castle Golf course. Additional fee may apply.
            </li>
            <li>
                <h4>Math</h4>
                Math tutoring available on Wednesdays depending on availability.
            </li>
            <li>
                <h4>Yoga class and tai chi class</h4>
                Yoga class and tai chi class are available for the parents of registered student while class in session.
            </li>
            <li>
                <h4>Group Camping</h4>
                Two group camping will be held for family and friends of registered students in the summer.
            </li>

        </ul>
        <p><a href="#" id="10wk-sgroup-program-hide" class="hideLink">Hide Ten Week Small Group Program.</a></p>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#whole-program-show').click(function () {
                showHide('whole-program');
                return false;
            });
            $('#30wk-program-show').click(function () {
                showHide('30wk-program');
                return false;
            });
            $('#10wk-program-show').click(function () {
                showHide('10wk-program');
                return false;
            });
            $('#10wk-sgroup-program-show').click(function () {
                showHide('10wk-sgroup-program');
                return false;
            });
            $('#10lesson-sgroup-program-show').click(function () {
                showHide('10lesson-sgroup-program');
                return false;
            });

            $('#whole-program-hide').click(function () {
                showHide('whole-program');
                return false;
            });
            $('#30wk-program-hide').click(function () {
                showHide('30wk-program');
                return false;
            });
            $('#10wk-program-hide').click(function () {
                showHide('10wk-program');
                return false;
            });
            $('#10wk-sgroup-program-hide').click(function () {
                showHide('10wk-sgroup-program');
                return false;
            });
            $('#10lesson-sgroup-program-hide').click(function () {
                showHide('10lesson-sgroup-program');
                return false;
            });

        });
        function showHide(shID) {
            if (document.getElementById(shID)) {
                if (document.getElementById(shID + '-show').style.display != 'none') {
                    document.getElementById(shID + '-show').style.display = 'none';
                    document.getElementById(shID).style.display = 'block';
                }
                else {
                    document.getElementById(shID + '-show').style.display = 'inline';
                    document.getElementById(shID).style.display = 'none';
                }
            }
        }
    </script>
}

